#define WIFI_SSID "REPLACE"
#define WIFI_PASS "REPLACE"
#define BOT_TOKEN "REPLACE"
#define CHAT_ID "0000000000"

const int max_chats = 5;
const char* chat_ids[max_chats] = {"0000000000", "1111111111", "2222222222", "3333333333", "4444444444"};